/*==================== MODAL POPUP ====================*/
/* Cookie policy */
.cookie-alert {
   background-color: #ddd;
   position: fixed;
   left: 0;
   right: 0;
   bottom: 0;
   font-size: 14px;
   transform: translateY(100%);
   transition: transform 0.2s ease;

   &.is-show {
      transform: translateY(0);
      transition: transform 0.2s ease;
   }

   &__container {
      align-items: center;
      padding: 20px;
      display: flex;
   }

   &__left {
      padding-right: 20px;
   }
}
